<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="560" style="width:420.0pt">
  <tbody>
    <tr style="height:81.75pt">
      <td style="padding:0cm 0cm 0cm 0cm;height:81.75pt">
        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
          <tbody>
            <tr>
              <td width="105" style="width:78.75pt;padding:0cm 0cm 0cm 0cm">
                <p class="MsoNormal"><span style="font-family:&quot;Arial&quot;,sans-serif;color:#1F497D">{{gravatar-image email=dados.email size=105 alt='avatar'}}<o:p></o:p></span></p>
              </td>
              <td width="184" style="width:138.0pt;padding:0cm 0cm 0cm 0cm">
                <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                  <tbody>
                    <tr style="height:33.75pt">
                      <td width="12" style="width:9.0pt;padding:0cm 0cm 0cm 0cm;height:33.75pt"></td>
                      <td valign="bottom" style="padding:0cm 0cm 0cm 0cm;height:33.75pt">
                        <p class="MsoNormal"><b><span style="font-size:16.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#5D2E00">{{dados.nome}}</span></b><span style="font-family:&quot;Arial&quot;,sans-serif;color:#1F497D"><o:p></o:p></span></p>
                      </td>
                    </tr>
                    <tr style="height:6.0pt">
                      <td width="12" style="width:9.0pt;padding:0cm 0cm 0cm 0cm;height:6.0pt"></td>
                      <td style="padding:0cm 0cm 0cm 0cm;height:6.0pt"></td>
                    </tr>
                    <tr style="height:2.25pt">
                      <td width="12" style="width:9.0pt;background:#F69C36;padding:0cm 0cm 0cm 0cm;height:2.25pt">
                      </td>
                      <td style="background:#F69C36;padding:0cm 0cm 0cm 0cm;height:2.25pt"></td>
                    </tr>
                    <tr style="height:6.0pt">
                      <td width="12" style="width:9.0pt;padding:0cm 0cm 0cm 0cm;height:6.0pt"></td>
                      <td style="padding:0cm 0cm 0cm 0cm;height:6.0pt"></td>
                    </tr>
                    <tr style="height:33.0pt">
                      <td width="12" style="width:9.0pt;padding:0cm 0cm 0cm 0cm;height:33.0pt"></td>
                      <td valign="top" style="padding:0cm 0cm 0cm 0cm;height:33.0pt">
                        <p class="MsoNormal"><span style="font-family:&quot;Calibri&quot;,sans-serif;color:#6A6A6A">{{dados.cargo}}</span><span style="font-family:&quot;Arial&quot;,sans-serif;color:#1F497D"><o:p></o:p></span></p>
                      </td>
                    </tr>
                    <tr>
                      <td width="12" style="width:9.0pt;padding:0cm 0cm 0cm 0cm"></td>
                      <td style="padding:0cm 0cm 0cm 0cm"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="22" style="width:16.5pt;padding:0cm 0cm 0cm 0cm"></td>
              <td width="293" style="width:219.75pt;padding:0cm 0cm 0cm 0cm">
                <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
                  <tbody>
                    <tr style="height:2.25pt">
                      <td width="28" style="width:21.0pt;padding:0cm 0cm 0cm 0cm;height:2.25pt"></td>
                      <td width="10" style="width:7.5pt;padding:0cm 0cm 0cm 0cm;height:2.25pt"></td>
                      <td width="200" style="width:150.0pt;padding:0cm 0cm 0cm 0cm;height:2.25pt"></td>
                    </tr>
                    <tr>
                      <td width="28" style="width:21.0pt;padding:0cm 0cm 0cm 0cm"></td>
                      <td width="10" style="width:7.5pt;padding:0cm 0cm 0cm 0cm"></td>
                      <td width="200" style="width:150.0pt;padding:0cm 0cm 0cm 0cm">
                        <p class="MsoNormal"><span style="font-family:&quot;Arial&quot;,sans-serif;color:#1F497D"><a href="mailto:{{email}}" target="_blank"><i><span style="font-size:10.5pt;font-family:&quot;Calibri&quot;,sans-serif;color:#636363;text-decoration:none">{{dados.email}}</span></i></a><o:p></o:p></span></p>
                      </td>
                    </tr>
                    <tr style="height:6.75pt">
                      <td width="28" style="width:21.0pt;padding:0cm 0cm 0cm 0cm;height:6.75pt"></td>
                      <td width="10" style="width:7.5pt;padding:0cm 0cm 0cm 0cm;height:6.75pt"></td>
                      <td width="200" style="width:150.0pt;padding:0cm 0cm 0cm 0cm;height:6.75pt"></td>
                    </tr>
                    <tr>
                      <td width="28" style="width:21.0pt;padding:0cm 0cm 0cm 0cm"></td>
                      <td width="10" style="width:7.5pt;padding:0cm 0cm 0cm 0cm"></td>
                      <td width="200" style="width:150.0pt;padding:0cm 0cm 0cm 0cm">
                        <p class="MsoNormal"><i><span style="font-size:10.5pt;font-family:&quot;Calibri&quot;,sans-serif;color:#636363">{{dados.telefone}} / {{dados.celular}}</span></i><span style="font-family:&quot;Arial&quot;,sans-serif;color:#1F497D"><o:p></o:p></span></p>
                      </td>
                    </tr>
                    <tr style="height:9.75pt">
                      <td style="padding:0cm 0cm 0cm 0cm;height:9.75pt"></td>
                      <td width="10" style="width:7.5pt;padding:0cm 0cm 0cm 0cm;height:9.75pt"></td>
                      <td width="200" style="width:150.0pt;padding:0cm 0cm 0cm 0cm;height:9.75pt"></td>
                    </tr>
                    <tr>
                      <td style="padding:0cm 0cm 0cm 0cm"></td>
                      <td width="10" style="width:7.5pt;padding:0cm 0cm 0cm 0cm"></td>
                      <td width="200" style="width:150.0pt;padding:0cm 0cm 0cm 0cm">
                        <p class="MsoNormal"><span style="font-family:&quot;Arial&quot;,sans-serif;color:#1F497D"><a href="http://www.allinmail.com.br/" target="_blank"><i><span style="font-size:10.5pt;font-family:&quot;Calibri&quot;,sans-serif;color:#636363;text-decoration:none">Skype: {{dados.skype}}</span></i></a><o:p></o:p></span></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr style="height:8.25pt">
      <td style="padding:0cm 0cm 0cm 0cm;height:8.25pt"></td>
    </tr>
  </tbody>
</table>

{{yield}}
