<table width="517" height="170" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="http://assets.locaweb.com.br/geradoremailmkt/images/2014-07-10-d.jpg" width="70" height="170" alt=""></td>
        <td>
            <table height="170" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top">
                        <font face="Calibri, Arial, Tahoma, Geneva, sans-serif" size="3" color="#000000">
                            <b>{{dados.nome}}</b><br>
                            {{dados.cargo}}<br>
                            Tel.: {{dados.telefone}} - Ramal {{dados.ramal}}<br>
                            Cel.: {{dados.celular}}
                        </font>
                    </td>
                </tr>
                <tr width="447" height="67">
                    <td width="447" height="67">
                        <a href="http://www.locawebcorp.com.br/" target="_blank"><img src="http://assets.locaweb.com.br/geradoremailmkt/images/2014-07-10-e.jpg" width="447" height="67" alt="" border="0"></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{yield}}
